*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:#e3ece8;
    color:#143730;
}

.container{
    display:flex;
    min-height:100vh;
}

/* ===== LADO ESQUERDO ===== */

.left{
    width:45%;
    background:linear-gradient(
        180deg,
        #d7e8e0,
        #d0e3da
    );

    padding:50px 60px;

    display:flex;
    flex-direction:column;
    justify-content:flex-start;
}

.logo h2{
    font-size:3rem;
    line-height:0.95;
    font-weight:700;
}

.slogan{
    margin-top:25px;
    font-size:1.2rem;
    line-height:1.5;
}

.left h1{
    margin-top:60px;
    font-size:4rem;
    line-height:1.15;
    max-width:500px;
}

.descricao{
    margin-top:25px;
    font-size:1.2rem;
    line-height:1.7;
    max-width:500px;
}

.beneficios{
    margin-top:55px;
}

.item{
    display:flex;
    align-items:center;
    gap:18px;
    margin-bottom:28px;
}

.icone{
    width:52px;
    height:52px;
    border-radius:50%;
    background:#9ab7aa;

    display:flex;
    justify-content:center;
    align-items:center;

    color:white;
    flex-shrink:0;
}

.item span{
    font-size:1rem;
    line-height:1.5;
}

/* ===== LADO DIREITO ===== */

.right{
    width:55%;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:40px;
}

.card{
    width:600px;
    background:white;
    border-radius:32px;
    padding:40px 45px;
    box-shadow:0 10px 25px rgba(0,0,0,0.05);
}

.login-link{
    text-align:right;
    font-size:.95rem;
}

.login-link a{
    text-decoration:none;
    color:#4f927a;
    font-weight:500;
}

.card h2{
    margin-top:20px;
    font-size:3rem;
    color:#113530;
}

.subtitulo{
    margin-top:15px;
    margin-bottom:25px;
    color:#6b7c79;
    line-height:1.7;
}

form{
    display:flex;
    flex-direction:column;
}

label{
    margin-top:14px;
    margin-bottom:8px;
    font-weight:500;
}

input,
select{
    width:100%;
    padding:14px 16px;

    border:1px solid #d8dfdd;
    border-radius:16px;

    outline:none;
    font-size:.95rem;
}

input:focus,
select:focus{
    border-color:#6ca58f;
}

small{
    margin-top:6px;
    color:#7c8785;
    font-size:.8rem;
}

.senha-box{
    display:flex;
    align-items:center;

    border:1px solid #d8dfdd;
    border-radius:16px;

    overflow:hidden;
}

.senha-box input{
    border:none;
}

.senha-box button{
    width:55px;
    border:none;
    background:white;
    cursor:pointer;
}

.checkbox{
    margin-top:20px;

    display:flex;
    align-items:flex-start;
    gap:10px;
}

.checkbox input{
    width:18px;
    height:18px;
    margin-top:2px;
}

.checkbox span{
    font-size:.9rem;
    line-height:1.5;
}

.btn-cadastro{
    margin-top:22px;

    border:none;
    border-radius:16px;

    background:#4f927a;
    color:white;

    padding:15px;

    font-size:1rem;
    font-weight:500;

    cursor:pointer;
    transition:.3s;
}

.btn-cadastro:hover{
    background:#437b67;
}

.divisor{
    text-align:center;
    margin:28px 0;
    color:#777;
}

.social{
    display:flex;
    gap:15px;
}

.social button{
    flex:1;

    padding:14px;

    border:1px solid #d8dfdd;
    border-radius:16px;

    background:white;

    cursor:pointer;
}

/* ===== FOOTER ===== */

footer{
    margin:0 30px 30px;

    background:#dce8e2;

    border-radius:25px;

    padding:25px 35px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    color:#173b34;
}

.footer-icon{
    font-size:2.5rem;
    color:#4f927a;
}

/* ===== RESPONSIVO ===== */

@media(max-width:1200px){

    .container{
        flex-direction:column;
    }

    .left,
    .right{
        width:100%;
    }

    .left{
        padding:40px;
    }

    .right{
        padding:30px;
    }

    .card{
        width:100%;
        max-width:650px;
    }

    .left h1{
        font-size:3rem;
    }
}